.my-cart-list {
    list-style-type: none;
}
.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.my-cart-items {
    display: flex;
    flex-direction: row;
}
.product-specifications{
   display: flex;
   flex-direction: column;
}

.image1 {
    height: 250px;
    width: 300px;
    margin-right: 40px;
}

.product-description {
    font-weight: bold;
}